services:
  discord-bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: amadeus-bot
    restart: unless-stopped
    env_file:
      - .env
    environment:
      NODE_ENV: production
    command: node dist/index.js